<br>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="header-panel"> <h3>Registration</h3></div>
      <br>
      <br>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="save(f.value)">

          <div class="form-group">
            <label class="control-label">Prenom : </label>
            <input class="form-control" ngModel="" type="text" maxlength="80" name="prenom" required/>
          </div>

          <div class="form-group">
            <label class="control-label">Nom : </label>
            <input class="form-control" ngModel="" type="text" maxlength="80" name="nom" required/>
          </div>

          <div class="form-group">
            <label class="control-label">Date de naissance : </label>
            <input class="form-control" ngModel="" type="text" maxlength="80" name="dateNaissance" required/>
          </div>

          <div class="form-group">
            <label class="control-label">Email : </label>
            <input class="form-control" ngModel="" type="text" maxlength="80" name="email" required/>
          </div>

          <div class="form-group">
            <label class="control-label">Telephone : </label>
            <input class="form-control" ngModel="" type="text" maxlength="80" name="telephone" required/>
          </div>

          <div class="form-group">
            <label class="control-label">Adresse : </label>
            <input class="form-control" ngModel="" type="text" maxlength="100" name="adresse" required/>
          </div>

          <div class="form-group">
            <label class="control-label">Description : </label>
            <input class="form-control" ngModel="" type="text" maxlength="254" name="description" required/>
          </div>

          <div class="form-group">
            <label class="control-label">Password : </label>
            <input class="form-control" ngModel="" type="password" maxlength="80" name="password" required/>
          </div>
          <div class="form-group">
            <label class="control-label">Confim Password : </label>
            <input class="form-control" ngModel="" type="password" maxlength="80" name="repassword" required/>
          </div>

          <br>
          <button type="submit" class="btn btn-success pull-left" [disabled]="!f.valid"> Enregistrer</button>
          <button type="button" class="btn btn-danger pull-right" (click)="annuler()"> Annuler</button>

        </form>
      </div>
    </div>
  </div>
</div>



